################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testprojectforgit/.vs/testprojectforgit/v15/.suo
/testprojectforgit/testprojectforgit/obj/Debug
